html body{
    /* background-color:#324851; */
    overflow: scroll !important;

}
.popup {
    /* z-index: 2072; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    /* display: none; */
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgba(64, 60, 60, 0.9);
}

.popup-hide {
    display: none;
}

.popup-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,-50px);
}

.popup-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.popup-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.popup-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 0;
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.popup-close {
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #212529;
    /* opacity: .5; */
    /* padding: 1rem 1rem; */
    /* margin: -1rem -1rem -1rem auto; */
}

.popup-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    height:140px;
}

.popup-btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.popup-btn-red {
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.popup-btn-green {
    color: #fff;
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.popup-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}


@media (min-width: 576px) {
    .popup-dialog {
        max-width: 500px;
        /* margin: 1.75rem auto; */
        margin: 4.75rem auto;
    }
}

.popup-fade {
    transition: opacity .15s linear;
}


.mg-rgt-5rem {
    margin-right: .5rem; 
}